body{
	background-color:rgb(177, 224, 219);
	margin-left: 2%;
	margin-right: 2%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	height: 100%;
}

.inicio-img{
	background-color: rgb(112, 216, 173);
	position: relative;
}

.inicio-img img{
	padding: 15px 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: auto;
}

.inicio-img h1{
	background-color: rgba(188,188,188, 0.8);
	padding: 15px 15px;
	margin: 0;
	position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.inicio-img p{
	text-align: center;
    color: white;
}

.inicio-img a{
	text-decoration: none;
	color: white;
	font-style: italic;
}
 
#descripcion{
	text-align: center;
	background-color: rgb(92, 190, 149);
	border-bottom: 60px;
	position: auto;
	color: whitesmoke;
	font-size: 20px;
	padding: 20px 50px;
}

#descripcion a{
	text-decoration: none;
	color: wheat;
}

.productos{
	background-color: lightblue;
	overflow: hidden; 
	position: auto;
}

.productos h2{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	text-align: center;
	font-size: 30px;
	color: rgb(9, 101, 155);
}

.productos h3{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	text-align: center;
	color: rgb(1, 72, 114);
}

.productos img{
	float: left;
	display: block;
	position: auto;
	height:  150px;
}

.productos p{
	font-size: 20px;
	text-align: center;
	padding: 15px 15px;
	position: auto;
}

.productos a{
	text-decoration: none;	
	text-align: center;
	color: rgb(9, 101, 155);
	text-align: center;
}

.productos2{
	background-color: lightblue;
	overflow: hidden; 
	position: auto;
}

.productos2 h2{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	text-align: center;
	font-size: 30px;
	color: rgb(9, 101, 155);
}

.productos2 h3{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	text-align: center;
	color: rgb(1, 72, 114);
}

.productos2 img{
	float: right;
	display: block;
	position: auto;
	height:  150px;
}

.productos2 p{
	font-size: 20px;
	text-align: center;
	padding: 15px 15px;
	position: auto;
}

.productos2 a{
	text-decoration: none;	
	text-align: center;
	color: rgb(9, 101, 155);
	text-align: center;
}

.contacto{
	padding: 10px 10px;
	background-color: rgb(53, 97, 112);
	overflow: hidden; 
	position: auto;
}

.contacto img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
}

.contacto h2{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino;
	font-size: 30px;
	color: rgb(146, 186, 209);
	text-align: center;
}

.contacto p{
	margin-top: 15px;
	text-align: center;
}

.contacto a{
	text-align: center;
	text-decoration: none;	
	color: rgb(172, 224, 255);
}