#titulo{
    background-color:rgb(177, 224, 219);
    position: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino;
}

#titulo h1{
    color: rgb(82, 89, 129);
    font-size: 35px;
    padding: 15px 15px;
    text-align: center;
}

#titulo table{
    margin-bottom: 60px;
}

#titulo h2{
    color: rgb(45, 50, 78);
    padding: 20px 20px;
    border-bottom: 3px solid #6687a0; 
    margin-bottom:10px;
    font-size: 26px;
}

#titulo p{
    color: rgb(45, 50, 80);
    padding: 15px 15px;
    font-size: 20px;
}

#titulo th{
    padding: 15px 15px;
}